<ul class="social-media-list">
    <li><a href="https://github.com/soowin"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#github' | relative_url }}"></use></svg></a></li>
    <li><a href="https://www.twitter.com/soowindance"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a></li>
    <li><a href="https://weibo.com/u/2908869657">&nbsp;<img src="http://www.sinaimg.cn/blog/developer/wiki/LOGO_16x16.png">&nbsp;</a></li>
</ul>